body {
  font-family: 'PT Sans Narrow', sans-serif;
    font-size: 12px;
    line-height: 26px;
    color: black;
    font: PTSans;
    font-weight: bold; 
    width:1200px;
    margin: 0 auto;
}
h2 {
    font-size: 21px;
}
p {
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
.5reasons,
.2reason {
    color: white;
}
p {
    font-weight: normal;
}
.search-header {
    color: white;
}
.search-btn {
    color: white;
}


  
}
.main-header{
  background:white;
}
.header-navigation {
  padding:1px;
  background:white;
  width:1200px;
  min-height:56px;
  
}
.velcome-to-sedona {
  
  width:1200px;
  height:508px;
}
.reasons5 {
  padding-top:62px;
background:white;
width:1200px;
min-height:154px;
  text-align:center;
  padding-bottom:1px;
}
.reasons5 p {
  font-weight:normal;
}

.reason1 {
  width:1200px;
  min-height:256px;
}
.reason1-1 {
  margin-right:0px;
  background:#81b3d2;
  width:300px;
  height:148px;
  float:left;
  color:white;
  text-align:center;
  padding:54px 50px;
  font-weight:normal;
}
.reason1-1 h2{
  margin:0 0;
}
.reason1-2 {
  width:800px;
  height:256px;
  float:right;
  
}
.reasons1-3{
  width:1200px;
  min-height:330px;
  
}
.reason1-3 {
  height:210px;
  width:256px;
  float:left;
  background:white;
  text-align:center;
  padding:60px 72px;
}
.reason1-3 h2 {
  margin:30px
}
.reason1-4{
  height:210px;
  width:284px;
  float:left;
   background:white;
  text-align:center;
  padding:60px 58px;
}
.reason1-4 h2 {
 margin:30px; 
}
.reason1-5 {
  height:220px;
  width:276px;
  float:right;
  background:white;
  text-align:center;
  padding: 55px 62px;
}
.reason1-5 h2 {
  margin:30px;
}
.reason2 {
  width:1200px;
  height:256px;
}
.reason2-1 {
  width:800px;
  height:256px;
  float:left;
}
.reason2-2 {
   background:#81b3d2;
  float:left;
  color:white;
  text-align:center;
  font-weight:normal;
  width:304px;
  height:146px;
  float:right;
  padding: 55px 48px;
}
.reason3-4-5 {
  width: 1200px;
  height:256px;

}
.reason3 {
  text-align:center;
  font-weight:normal;
  background:#eeeeee;
  width:256px;
  height:160px;
    float:left;
  padding:48px 72px;
}
.reason4 {
text-align:center;
  font-weight:normal;
  background:#eeeeee;
  width:264px;
  height:160px;
    float:left;
  padding:48px 68px;
}
.reason5 {
text-align:center;
  font-weight:normal;
  background:#eeeeee;
  width:264px;
  height:160px;
    float:left;
  padding:48px 68px;
}
.interesting {
  text-align:center;
  font-weight:normal;
  padding:1px;
  height:178px;
  width:1200px;
  background:white;
  padding:56px 0;
}

.map-main {
  width:1200px;
    height:593px;
  
  z-index:1;
}
ul .search-ul{
 position:absolute;
  height:395px;
  width:568px;
  background:white;
   top:2127px;
   left:50%;
   margin-left: -284px;
  padding:0px;
}
.Arrival-Date input[type="date"],
.Date-Of-Departure input[type="date"]{
 width:345px;
background:#f2f2f2 url(/img/calendar.png) no-repeat 0 290px;
  border:none;
  padding: 10px 12px;
  padding-right: 40px;
   margin-right: 55px;
  margin-bottom:29px;
  color:white;
    font-size: 14px;
    line-height: 26px;
    color: black;
    font: PTSans;
    font-weight: bold;
}

}
label {
   font-size: 14px;
    line-height: 26px;
    color: black;
    font: PTSans;
    font-weight: bold;
}
.Arrival-Date input[type="date"]{
  margin-top:55px;
}
  .search-header button{
  position:relative;
  background:#766357;
  width:568px;
  height:85px;
  text-align:center;
  padding:1px;
   top:19px;
    left:-20px;
    color:white;
    font-size: 21px;
    line-height: 26px;
    color: white;
    font: PTSans;
    font-weight: bold;
    border:none;
} 
ul {
  margin-left:0px;
}



.search-header:active .search-ul{
  display:block;
  
}
.search-header h2 {
  margin-top:33px;
}


.people-number  {
  text-align:center;
  display:inline-block;
  width:38px;
  height:38px;
  background:#f2f2f2;
  border:none;
}
.grown-plus {
  vertical-align:middle;
  display:inline-block;
  width:38px;
  height:38px;
  background:#f2f2f2;
  border:none;
}
.grown-minus {
  vertical-align:middle;
 display:inline-block;
  width:38px;
  height:38px;
  background:#f2f2f2;
  border:none; 
}
.grown-class{
float:left;
  margin-left:45px;
}
.child-plus {
  vertical-align:middle;
  display:inline-block;
  width:38px;
  height:38px;
  background:#f2f2f2;
  border:none;
}
.child-minus {
  vertical-align:middle;
 display:inline-block;
  width:38px;
  height:38px;
  background:#f2f2f2;
  border:none; 
}
.child-class{
float:left;
  margin-left:125px;
}
.search-btn {
  
  
}

.main-footer {
  height:45px;
  width:940px;
  z-index:2;
  position:absolute;
  bottom:-2207px;
  background-color:rgba(255, 255, 255, 0.5);
  padding:37px 130px;
}

.hashtag{
  display:block;
  min-width:137px;
  height:45px;
  
  vertical-align:top;
  float:left;
 }

.social {
    display:block;
  min-width:137px;
  height:45px;
  
  vertical-align:top;
  float:left;
  margin-left:254px;
  text-decoration:none;
}
.social-btn-Twitter {
  font-size:0;
  display:block;
  float:left;
  width:45px;
  height:45px;
  
  margin-right:5px;
  background: #81b3d2 url("/img/t.png") no-repeat 50% 50%;
}
.social-btn-fb {
  font-size:0;
  display:block;
  float:left;
  width:45px;
  height:45px;
  
  margin-right:5px;
  background: #81b3d2 url("/img/f.png") no-repeat 50% 50%; 
}
.social-btn-youtube {
   font-size:0;
  display:block;
  float:left;
  width:45px;
  height:45px;

  background: #81b3d2 url("/img/u.png") no-repeat 50% 50%; 
}
.HTML-ACADEMY {
    display:block;
  width:196px;
  height:45px;
  vertical-align:top;
  float:right;
  background: url("/img/HTML-ACADEMY.png") no-repeat 50% 50%;
}
  
 
/* страница catalog*/
 .filter{
   padding-top:28px;
   padding-bottom:30px;
  width:1200px;
  height:186px;
  background: url(/img/filter-background.jpg);
   
}
.checkbox1 {
  list-style: none;
  width:240px;
  height:159px;
  margin-left:72px;
  display:block;
  float:left; 
}
.checkbox1 ul,
.checkbox2 ul{
  list-style-type: none;
}
.checkbox2 {
  display:block;
  width:287px;
  height:159px;
  float:left;
}
.price-btn {
  width:328px;
  height:159px;
  display:block;
  float:right;
  margin-right:72px;
  color:white;
  
}
.price-btn input[type="text"]{
  display:inline-block;
  width:159px;
  height:35px;
  text-align:center;
  border: 2px solid white;
  background:rgba(255, 255, 255, 0)
 }

.price-range input{
  margin-top:20px;
  width:317px;
}
.price-btn input[type="submit"]{
  margin-left:95px;
  margin-bottom:33px;
  margin-top:35px;
  display:inline-block;
  width:137px;
  height:35px;
  border: 2px solid white;
  background:rgba(255, 255, 255, 0)
}
.price-btn input {
  color:white;
}
.filter2 {
  width:1200px;
  height:86px;
  background:white;
}
.found {
  display:block;
 font-size:21px;
  margin-left:72px;
  float:left;
  margin-top:30px;
}
.sort {
  margin-top:32px;
  margin-right:7px;
}
.filter2 li{

  list-style-type:none;
  margin-left:31px;
  display:inline-block;
}
.filter2 .active{
  text-decoration:none;
  color:#b3d1e4;
  border:none;
  
}
.filter2 a{
  color:#c6c6c6;
  text-decoration:none;
  border-bottom: 1px dotted #81b3d2;  
}
.result{
  width:1200px;
  height:454px;
}
.result .amara {
  display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.result .amara img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}
.result h2{
  margin:0px;
}
.result a{
  text-decoration:none;
  text-align:center;
  color:white;
}
 .more-btn {
   margin-top:12px;
  display:inline-block;
   background:#81b3d2;
   width:110px;
}
.reserv-btn{
  display:inline-block;
  background:#766357;
  width:142px;
  margin-left:3px; 
}
.type-catalog{
  width:110px;
  margin-right:5px;
  display:inline-block;
}
.from-catalog{
 display:inline-block; 
}
.DESERT {
  display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:-1px solid grey;
  border-bottom:1px solid grey;
}
.result .DESERT img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}
.VILLAS {
 display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:-1px solid grey;
  border-bottom:1px solid grey;
}
.result .VILLAS img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}
.stars {
  font-size:19px;
  width:110px;
  height:27px;
  float:right;
  position:relative;
  top:-50px;
  color:#82b4d3;
  text-align:right;
  
}
.hotel-rating{
  background:#f2f2f2;
  width:110px;
  height:27px;
  float:right;
  position:relative;
  bottom:-18px;
  left:110px;
  color:#666666;
  text-align:center;
  font-size:14px;
  font-weight:normal;
}
.header-navigation a {
  font-size:14px;
  display:inline;
  text-decoration:none;
  color:black;
  
}

.header-navigation li{ 
  list-style-type:none;
  display:block;
  
}
.header-navigation ul {
  position:relative;
  padding:0px 0px;
  margin:0px;
}
.header-navigation li .info {
 padding:15px 72px;
  float:left;
}
.header-navigation li .photo {
 padding:15px 72px;
  
  float:left;
}
.header-navigation li .logo {
  position:absolute;
   left:50%;
   margin-left: -69px;
}
.header-navigation li .site-map {
   padding:15px 72px;
  
  float:right;
}
.header-navigation li .hotels {
   padding:15px 72px;
  float:right;
  
}
.catalog-footer {
  height:45px;
  width:940px;
  z-index:2;
  background-color:rgb(255, 255, 255);
  padding:37px 130px;

 .clearfix::after {
  content: "";
  display: block;
  clear: both;
}