body {
    font-size: 12px;
    line-height:: 26px;
    color: black;
    font: PTSans;
    font-weight: bold; 
    
}
h2 {
    font-size: 21px;
}
p {
    font-size: 14px;
}
h1 {
    font-size: 30px;
}
.5reasons,
.2reason {
    color: white;
}
p {
    font-weight: regular;
}
.search-header {
    color: white;
}
.search-btn {
    color: white;
}

}

body {
  min-width:768 px;
  
}
.header-navigation {
  padding:1px;
  background:pink;
  width:1200px;
  min-height:56px;
  
}
.velcome-to-sedona {
  background:grey;
  width:1200px;
  min-height:508px;
}
.reasons5 {
  padding:1px;
background:pink;
width:1200px;
min-height:216px;
  
}
.reason1 {
  background: yellow;
  width:1200px;
  min-height:256px;
}
.reason1-1 {
  margin-right:0px;
  background:red;
  width:400px;
  height:256px;
  float:left;
}
.reason1-2 {
  background:blue;
  width:800px;
  height:256px;
  float:right;
  
}
.reasons1-3{
  width:1200px;
  min-height:330px;
  background:yellow;
}
.reason1-3 {
  min-height:330px;
  width:400px;
  float:left;
}
.reason1-4{
  min-height:330px;
  width:400px;
  float:left;
}
.reason1-5 {
  min-height:330px;
  width:400px;
  float:right;
}
.reason2 {
  background:red;
  width:1200px;
  height:256px;
}
.reason2-1 {
 background:blue;
  width:800px;
  height:256px;
  float:left;
}
.reason2-2 {
  background:red;
  width:400px;
  height:256px;
  float:right;
}
.reason3-4-5 {
  width: 1200px;
  height:256px;

}
.reason3 {
  background:red;
  width:400px;
  height:256px;
    float:left;
}
.reason4 {
  background:green;
  width:400px;
  height:256px;
    float:left;
}
.reason5 {
   background:yellow;
  width:400px;
  height:256px;
    float:right;
}
.interesting {
  padding:1px;
  height:290px;
  width:1200px;
  background:brown;
}
.search-header {
  width:568px;
  height:85px;

  Background:red;
}
.map-main {
  width:1200px;
    height:472px;
  background:yellow;
}
 .search {
  height:395px;
  width:568px;
  background:green;
   margin: 0 78px 100px 100px;
}
.main-footer {
  height:119px;
  width:1200px;
  background:green;
  padding-top:35px;
  padding-bottom:35px;
}
.container-footer {
  
  width:968px;
  height:48px;
  background:red;
  margin-left:130px;
  margin-right:100px;
  
  
}
 .hashtag {
 
 height:48px;
  min-width:141px;
  background:yellow;
 float:left;
}
.social {
  width:150px;
  height:48px;
  float:left;
  background:blue;
  margin-left:253px;
}
.HTML-ACADEMY {
  width:196px;
  height:48px;
  background:black;
  float:right;
  margin:0px;
}
/* страница catalog*/
 .filter{
   padding-top:28px;
   padding-bottom:30px;
  width:1200px;
  height:217;
  background: blue;
}
.checkbox1 {
  width:240px;
  height:159px;
  margin-left:72px;
  display:block;
  float:left;
}
.checkbox2 {
  background:yellow;
  display:block;
  width:287px;
  height:159px;
  float:left;
}
.price-btn {
  width:328px;
  height:159px;
  display:block;
  float:right;
  margin-right:72px;
  background:red;
}
.filter2 {
  width:1200px;
  height:86px;
  background:grey;
}
.result{
  width:1200px;
  height:454px;
  background:brown;
}
.result .amara {
  display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.result .amara img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}
.DESERT {
  display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.result .DESERT img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}
.VILLAS {
 display:block;
  padding: 29px 72px;
  background:white;
  width:1056px;
  height:92px;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.result .VILLAS img{
  width:135px;
  height:90px;
  float:left;
  margin-right:30px;
}

body .wrapper {
  margin: 0 auto;
}
 .clearfix::after {
  content: "";
  display: block;
  clear: both;

}

